/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/buildOutputCleanup/cache.properties
/Software 1 GUI Mockup.docx
/UML Class Diagram.pdf
/hs_err_pid49096.log
/hs_err_pid42984.log
/hs_err_pid39592.log
/hs_err_pid23904.log
/hs_err_pid48572.log
/hs_err_pid52400.log
